<!--LOADER: -->
<div class="slds-spinner_container" ng-show="!$root.isLoaded">
    <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</div>
<div class="via-slds" ng-init="importedScope.getCoverages(params.id, records)">
    <div class="slds-notify_container" ng-if="$root.notification.active">
      <div class="slds-notify slds-notify--toast" role="alert" ng-class="{'slds-theme--success' : $root.notification.type === 'success', 'slds-theme--error' : $root.notification.type === 'error'}">
        <span class="slds-assistive-text">Info</span>
        <button class="slds-button slds-notify__close" title="Close" ng-click="$root.notification.active = false">
           <slds-svg-icon sprite="'utility'" icon="'close'" extra-classes="'slds-button__icon--left'"></slds-svg-icon>
        </button>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading--small">{{$root.notification.message}}</h2>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-wrap cards-container">
        <div vloc-card ng-repeat="card in cards | orderBy:order" ctrl="InsCoverageModelRuntimeController" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"
            class="slds-size--1-of-1 slds-border--bottom" use-existing-element-type>
        </div>
         <!-- <div class="vloc-add-qli slds-m-top--small slds-size--1-of-1 slds-m-right--small">
          <button class="slds-button slds-button--link slds-float--right" ng-click="importedScope.addQLI()"> Add Coverage</button>
          </div> -->
    </div>
</div>
<div class="slds-p-top--xx-large slds-border--bottom" ng-if="importedScope.optionalCoverages.length > 0">
  <div class="slds-p-around--small slds-text-heading--medium">Optional Coverages</div> 
   <div class="vloc-row slds-grid slds-wrap slds-size--1-of-1 slds-border--top slds-p-top--small slds-p-horizontal--small" ng-repeat="product in importedScope.optionalCoverages">
      <div class="slds-size--1-of-3 slds-p-top--xx-small">
       <div class="slds-form-element__control slds-text-align--left slds-float--left slds-m-right--small slds-p-top--xx-small">
        <span class="slds-checkbox">
            <input type="checkbox" name="add-attrs-{{$index}}" id="add-attrs-{{$index}}" ng-model="product.addCoverage" ng-change="importedScope.addCoverage(product, $index)"/>
            <label class="slds-checkbox__label slds-m-around--none" for="add-attrs-{{$index}}">
                <span class="slds-checkbox--faux vloc-check"></span>
            </label>
        </span>
    </div>
        <div class="vloc-attr-title-cell slds-truncate slds-text-heading--label ">Name</div>
        <span class="slds-p-top--xx-small"> {{product.productName}} </span>
      </div>
      <div class="slds-size--1-of-3 slds-p-top--xx-small">
        <div class="vloc-attr-title-cell slds-truncate slds-text-heading--label">Premium</div>
        <span>{{product.UnitPrice}}</span><span ng-if="!product.UnitPrice">--</span>
      </div>
      <div class="slds-size--1-of-3" ng-init="catt = prodouct.attributeCategories.records[0]">
          <span ng-repeat="field in catt.productAttributes.records | orderBy : 'displaySequence'">
           <div class="vloc-attr-title-cell slds-truncate slds-text-heading--label">{{field.label}}</div>
            <div class="vloc-attr-data-cell slds-truncate slds-p-top--xx-small">
                <div ng-if="field.inputType === 'dropdown'">
                  <div ng-repeat="value in field.values" ng-if="value.value === field.userValues"><span ng-init="field.userValues = value"></span></div>
                    <div class="slds-form-element__control slds-select_container slds-m-right--large slds-m-bottom--small">
                      <div class="slds-select_container">
                        <select ng-options="cat as cat.label for cat in field.values" ng-model="field.userValues"  class="slds-select slds-m-right--xx-small" id="select-01" ng-change="importedScope.updateQLI($index)">
                        </select>
                    </div>
                  </div>
              </div>
            <div class="slds-grid slds-p-bottom--x-small" ng-if="field.inputType !== 'dropdown'  && field.inputType !== 'checkbox'">
            <div class="slds-size--3-of-4">
                  <input class="slds-input" ng-model="field.userValues"/>
            </div>
            <div class="slds-form-element__control slds-text-align--left slds-size--3-of-4" ng-if="field.inputType === 'checkbox'">
                <span class="slds-checkbox">
                    <input type="checkbox" name="attrs-{{$index}}" id="attrs-{{$index}}" ng-model="field.userValues" ng-disabled="!field.isUpdateable"/>
                    <label class="slds-checkbox__label slds-m-around--none" for="attrs-{{$index}}">
                        <span class="slds-checkbox--faux vloc-check"></span>
                    </label>
                </span>
            </div>
           <!-- <button class="vloc-attr-showmore-btn slds-button slds-button--link slds-m-left--small slds-size--1-of-4" ng-click="importedScope.updateQLI($index)">Save</button> -->
        </div>
        </span>
      </div>
      <div class="slds-size--2-of-3" ng-if="product.attributeCategories.records.length > 1"></div>
      <div class="slds-size--1-of-3 slds-p-top--x-small" ng-repeat="catt in product.attributeCategories.records" ng-if="$index !== 0">
          <span ng-repeat="field in catt.productAttributes.records | orderBy : 'displaySequence'">
           <div class="vloc-attr-title-cell slds-truncate slds-text-heading--label">{{field.label}}</div>
            <div class="vloc-attr-data-cell slds-truncate slds-p-top--xx-small">
                <div ng-if="field.inputType === 'dropdown'">
                  <div ng-repeat="value in field.values" ng-if="value.value === field.userValues"><span ng-init="field.userValues = value"></span></div>
                    <div class="slds-form-element__control slds-select_container slds-m-right--large slds-m-bottom--small">
                      <div class="slds-select_container">
                        <select ng-options="cat as cat.label for cat in field.values" ng-model="field.userValues"  class="slds-select slds-m-right--xx-small" id="select-01" ng-change="importedScope.updateQLI($index)">
                        </select>
                    </div>
                  </div>
              </div>
            <div class="slds-grid slds-p-bottom--x-small" ng-if="field.inputType !== 'dropdown'  && field.inputType !== 'checkbox'">
              <div class="slds-size--3-of-4">
                    <input class="slds-input" ng-model="field.userValues"/>
              </div>
            </div>
            <div class="slds-form-element__control slds-text-align--left slds-size--3-of-4" ng-if="field.inputType === 'checkbox'">
                <span class="slds-checkbox">
                    <input type="checkbox" name="attrs-{{$index}}" id="attrs-{{$index}}" ng-model="field.userValues" ng-disabled="!field.isUpdateable"/>
                    <label class="slds-checkbox__label slds-m-around--none" for="attrs-{{$index}}">
                        <span class="slds-checkbox--faux vloc-check"></span>
                    </label>
                </span>
            </div>
        </div>
          </span>
      </div>
   </div>
</div>