<div class="vloc-attr-container--modal" ng-init="$root.isLoaded = true;">
    <div class="slds-size--1-of-1 slds-m-top--small slds-grid slds-wrap">
      <div id="modal-heading-01" class="vloc-attr-container--heading slds-text-heading--medium slds-p-left--large slds-hyphenate slds-size--1-of-1 text-align--center slds-p-vertical--xx-small"><span ng-if="records.type === 'coverages'">Add Coverages</span><span ng-if="records.type === 'insuredItems'">Add Insured Items</span></div>
       <button class="vloc-attr-container--select slds-button slds-button--brand" ng-click="importedScope.insFn.addItems(records.records, records.type)">Select</button>
     </div>
    <div class="slds-grid slds-wrap slds-p-top--small">
        <div class="vloc-product-grid slds-size--1-of-1 slds-grid slds-wrap" ng-repeat="prod in records.records">
            <div class="vloc-product slds-grid slds-wrap slds-size--1-of-1 slds-border--bottom slds-p-vertical--small">
                <div class="slds-size--4-of-6">
                <label class="vloc-new-prod--label slds-text-heading--small slds-hyphenate slds-size--7-of-8 slds-m-left--x-small slds-p-top--xxx-small" ng-click="prod.isSelected = !prod.isSelected">
                  <span class="slds-checkbox vloc-new-prod--checkbox slds-p-left--small">
                  <input type="checkbox" name="attrs-{{$index}}" id="attrs-{{$index}}" ng-model="prod.isSelected"/>
                  <label class="slds-checkbox__label slds-m-around--none" for="attrs-{{$index}}">
                      <span class="slds-checkbox--faux vloc-check"></span>
                  </label>
                  </span class="slds-p-left--small">{{prod.Name}}</label>
                </div>
                <div class="vloc-attr-show-more slds-size--2-of-6 slds-text-align--right slds-p-right--medium">
                <button class="vloc-attr-show-more--btn slds-button slds-button--link slds-text-align--right" ng-click="prod.show = !prod.show" ng-if="prod.AttributeAssignment.length > 0"> <slds-button-svg-icon sprite="'utility'" icon="'chevronright'" ng-if="!prod.show" extra-classes="vloc-attrs-category-btn"></slds-button-svg-icon>
                <slds-button-svg-icon sprite="'utility'" icon="'chevrondown'" ng-if="prod.show" extra-classes="vloc-attrs-category-btn"></slds-button-svg-icon><span class="slds-m-left--x-small">show</span> <span ng-if="!prod.show">more</span><span ng-if="prod.show">less</span></button>
                </div>
            </div>
              <div class="vloc-prod-attrs slds-size--1-of-1 slds-grid slds-wrap slds-theme--shade slds-p-bottom--small slds-border--bottom" ng-if="prod.show">
               <div class="slds-grid slds-wrap slds-size--1-of-1 slds-border--bottom slds-p-vertical--x-small">
                  <div class="slds-p-horizontal--small">
                  </div>
                <div class="slds-size--1-of-5 slds-m-left--x-small slds-truncate">
                      <span class="slds-text-title--caps" title="Name">Name</span>
                </div>
                <div class="slds-size--1-of-4 slds-truncate">
                      <span class="slds-text-title--caps" title="Label">Category</span>
                </div>
              <div class="slds-size--1-of-4 slds-truncate">
                      <span class="slds-text-title--caps" title="Data Type">Data Type</span>
                </div>
              <div class="slds-size--1-of-4 slds-truncate">
                      <span class="slds-text-title--caps" title="Value Type">Value Type</span>
                </div>
                </div>
              <div class="slds-size--1-of-1 slds-grid slds-wrap slds-p-top--small" ng-repeat="attr in prod.AttributeAssignment | orderBy : $root.nsPrefix + 'CategoryName__c'">
                  <div class="slds-p-horizontal--small">
                    {{$index + 1}}
                  </div>
                 <div class="slds-size--1-of-5 slds-truncate slds-p-right--x-small">
                  <span title="Name">{{attr[$root.nsPrefix + 'AttributeDisplayName__c']}}</span>
                    </div>
                  <div class="slds-size--1-of-4 slds-truncate slds-p-right--x-small">
                          <span title="Label">{{attr[$root.nsPrefix + 'CategoryName__c']}}</span>
                    </div>
                   <div class="slds-size--1-of-4 slds-truncate slds-p-right--x-small">
                          <span title="Control">{{attr[$root.nsPrefix + 'ValueDataType__c']}}</span>
                    </div>
                  <div class="slds-size--1-of-4 slds-truncate">
                          <span title="Value Type">{{attr[$root.nsPrefix + 'Value__c']}}</span>
                    </div>
              </div>
          </div>
    </div>
</div>